{% extends 'app/layout.html' %}

{% block body %}
	<div class="home-container">
		<div class="boxes timer-box">
			<div class="top-buttons-div">
				<button class="top-button top-button-selected" id="focus-button">Focus</button>
				<button class="top-button" id="short-break-button">Short Break</button>
				<button class="top-button" id="long-break-button">Long Break</button>
			</div>
			<p id="timer">25:00</p>
			<button class="timer-button" id="start-button">Start</button>
			<button class="timer-button" id="pause-button">Pause</button>
		</div>

		<div class="boxes tasks-box">
			<div class="tasks-box-top">
				<h1>Tasks</h1>
				<button id="tasks-clear-button" type="submit">Clear All</button>
			</div>

			<form id="task-form">
				{% csrf_token %}
				<input id="task-input" type="text" name="task" placeholder="Add new task.." required>
				<button class="tasks-add-button" type="submit">Add</button>
			</form>

			<div class="tasks">
				<ul id="tasks-list">
				</ul>
			</div>
		</div>
	</div>

	<div class="about-container">
		<div class="about-sections">
			<h1> What is ToTimer?</h1>
			<p>ToTimer is a pomodoro timer which focuses on helping you complete your tasks with efficiency. Works both on desktop and mobile. This timer is inspired by the Pomodoro Technique developed by Francesco Cirillo.</p>
		</div>

		<div class="about-sections">
			<h1>The Pomodoro Technique</h1>
			<p>The Pomodoro Technique is created by Francesco Cirillo for a more productive way to work and study. The technique uses a timer to break down work into intervals, traditionally 25 minutes in length, separated by short breaks. Each interval is known as a pomodoro, from the Italian word for 'tomato', after the tomato-shaped kitchen timer that Cirillo used as a university student. - <a class="external-links wikipedia" href="https://en.wikipedia.org/wiki/Pomodoro_Technique" target="_blank">Wikipedia</a></p>
		</div>

		<div class="about-sections">
			<h1>Using ToTimer</h1>
			<ol style="margin-left: 20px;">
				<li>Add tasks</li>
				<li>Start the Focus timer</li>
				<li>Work until you hear the alarm</li>
				<li>Take a Short 5 minutes break</li>
				<li>Repeat 2-4 for four times in total</li>
				<li>Take a Long 15 minutes break</li>
				<li>Repeat from second step</li>
			</ol>
		</div>

		<footer>
			<div class="footer-div">
				<div class="footer-socials">
					<a class="external-links" href="https://github.com/Yudin101/ToTimer" target="_blank">
						<i class="fa-brands fa-github"></i>
					</a>
					<a class="external-links" href="https://x.com/yudin101" target="_blank">
						<i class="fa-brands fa-x-twitter"></i>
					</a>
					<a class="external-links" href="https://linkedin.com/in/yudin101" target="_blank">
						<i class="fa-brands fa-linkedin"></i>
					</a>
				</div>
				<p class="creator-text">Made by <a class="external-links github" href="https://github.com/Yudin101" target="_blank">yudin</a></p>
			</div>
			<p class="foot-notes">&copy; ToTimer 2024, All Rights Reserved</p>
		</footer>
	</div>
{% endblock %}