{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ToTimer{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'app/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'app/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://kit.fontawesome.com/f5888c4373.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'app/script.js' %}"></script>
</head>
<body>
    <nav>
        <div>
            <h2>
                <a class="title-text-link" href="{% url 'index' %}">ToTimer</a>
            </h2>
            <ul class="nav-ul">
                {% if user.is_authenticated %}
                    <li>
                        <button id="nav-ul-home" class="nav-ul-button nav-ul-button-selected"><i class="fa-solid fa-house mobile"></i><span class="desktop">Home</span></button>
                    </li>
                    <li>
                        <button id="nav-ul-about" class="nav-ul-button"><i class="fa-solid fa-info mobile"></i><span class="desktop">About</span></button>
                    </li>
                    <li>
                        <button id="nav-ul-logout" class="nav-ul-button">
                            <a class="logout-a" href="{% url 'logout' %}"><i class="fa-solid fa-arrow-right-from-bracket mobile"></i><span class="desktop">Logout</span></a>
                        </button>
                    </li>
                {% else %}
                    <li>
                        <a class="nav-ul-button" href="{% url 'login' %}"><i class="fa-solid fa-arrow-right-to-bracket mobile"></i><span class="desktop">Login</span></a>
                    </li>
                    <li>
                        <a class="nav-ul-button" href="{% url 'register' %}"><i class="fa fa-user mobile"></i><span class="desktop">Register</span></a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% block body %}
    {% endblock %}
</body>
</html>