@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(39, 23, 65));
}

a {
    display: flex;
    align-items: baseline;
    color: white;
    text-decoration: none;
}

i {
    font-size: 22px;
    margin-right: 5px;
}

nav {
    display: flex;
    justify-content: center;
}

nav div {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid gray;
}

.nav-ul {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-ul li {
    height: 100%;
    list-style: none;
}

.nav-ul-button {
    color: gray;
    font-size: 20px;
    background: none;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: 0.1s;
    cursor: pointer;
}

.nav-ul-button:hover {
    color: white;
    border-bottom: 1px solid white;
}

.nav-ul-button-selected {
    color: white;
    font-weight: 600;
    border-bottom: 1px solid white;
}

.login-register-div {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message {
    font-size: 17px;
    padding: 15px;
    margin-bottom: 10px;
    color: red;
    background-color: rgba(255, 0, 0, 0.2);
    border: 1px solid red;
    border-radius: 5px;
}

.login-register-form {
    color: white;
    background-color: rgba(255, 255, 255, 0.05);
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.register-form {
    height: 70%;
}

.login-register-form input {
    font-size: 15px;
    color: white;
    margin-top: 3px;
    padding: 7px;
    border: 1px solid white;
    border-radius: 5px;
    outline: none;
    transition: 0.2s;
}

.login-register-form input[type="text"],
.login-register-form input[type=password] {
    background-color: rgba(0, 0, 0, 0.01);
}

.login-register-form input[type="text"]:focus,
.login-register-form input[type=password]:focus {
    background-color: rgba(0, 0, 0, 0.3);
}

.login-register-form input[type="submit"] {
    width: 70%;
    margin-top: 20px;
    background: none;  
    cursor: pointer; 
}

.login-register-form input[type="submit"]:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.login-register-form input[type="submit"]:active {
    background-color: rgba(0, 0, 0, 0.5);
}

.login-register-form > a {
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: -35px;
    color: #4287f5;
}

.login-register-form a:hover {
    text-decoration: underline;
}

.white-a {
    font-weight: 400;
    color: white;
}

.home-container {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: blue;
    background: rgba(200, 200, 200, 0.1);
    padding: 50px 35px;
    border-radius: 5px;
}

.top-buttons-div {
    padding: 10px;
    display: flex;
}

.top-button {
    color: white;
    font-size: 19px;
    background: none;
    padding: 10px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.1s;
}

.top-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.top-button:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.top-button-selected {
    background: rgba(0, 0, 0, 0.3);
}

#timer {
    margin-bottom: 10px;
    font-size: 100px;
    font-weight: 700;
}

.timer-button {
    padding: 10px 45px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    transition: 0.2s;
}

.timer-button:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

#pause-button {
    display: none;
}





.about-container {
    display: none;
}

.mobile {
    display: none !important;
}

@media (max-width: 815px){
    .mobile {
        display: block !important;
    }

    .desktop {
        display: none !important;
    }
}